@page
@model RazorPizzeria.Pages.CheckoutModel
@{
}
<h1>Your order</h1>
@{
	var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".png");//get the path of the image
}
<div class="align-content-center">
	<div class="col-3 mx-auto my-4">
		<img src=@imagePath class="w-100" asp-append-version="true" /><!--asp-append-version allow to not have to reload the page -->
		<p>Your order for the @Model.PizzaName Pizza is ready!</p>
		<p>Total price for your order is: $@Model.PizzaPrice  </p>
		<br />
		<a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
	</div>
</div>